[Desktop Entry]

Name=WhatsApp Desktop
Exec=whatsapp-desktop-linux
Type=Application
Icon=io.github.mimbrero.WhatsAppDesktop
Categories=Utility;Network;Chat;InstantMessaging;