[Desktop Entry]

Name=WhatsApp Desktop
Exec=io.github.mimbrero.WhatsAppDesktop
Type=Application
Icon=io.github.mimbrero.WhatsAppDesktop
Categories=Utility;Network;Chat;InstantMessaging;